body{
    background:pink;
}
header{
    text-align: center;
background:url("images/pinksky.jpg");
background-size: cover;
    color: white;
}
.Home {
    display: inline;
    padding: 0px 10px 0px 10px;
}
a(
color=white
}

	
		a{
		color:white;
		}
		h1 { 
		font-size: 70px; 
		}
		img{
		margin: 40px 0px 0px 0px;
		border: 7px solid white;
		border-radius: 20px;
		}
		ul {
		padding: 10px;
		background: rgba(0,0,0,0.5);
		border: 7px solid white;
		border-radius: 20-;
		}
		li{
		display: inline;
		padding: 0px 10px 0px 10px;
		}
		article { max-width: 500px;
		padding: 20px;
		margin: 0auto;
		}
		@media (max-width: 500px) {
		h1 {
		font'size: 36 px;
		padding: 5px;
		}
		}
	


